:root {
  --background-surface: #efefef;
  --primaryColor: #c8e4b2;
  --secondaryColor: #9ed2be;
  --terciaryColor: #7eaa92;
  --success: #27ae60;
  --black: #272829;
  --bannerRed: #e74c3c;
  --orange: #e55807;
  --brown: #7e1717;
  --turquaise: #068da9;
}

body {
  padding: 0;
  margin: 150px 0 0 0;
  font-family: "Open Sans", sans-serif;
  background-color: var(--background-surface);
}

* {
  box-sizing: border-box;
}

body > header {
  position: fixed;
  width: 100%;
  height: 150px;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 8px 3px #0000000d;
  padding: 0 24px;
  background: #ffffff;
}

a.navlink {
  color: var(--black);
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  position: absolute;
  top: 50px;
  font-size: 28px;
}

#linkHome {
  left: 10px;
}

#linkBasket {
  right: 10px;
}
